@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');

html,
body {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: #fafafa;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	pointer-events: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	text-align: center;
}

.char {
	position: relative;
	height: 100px;
	padding: 0 5px;
	transform-origin: center;
	opacity: 0;
	will-change: transform, opacity;
}

.char-tall {
	height: 140px;
}

.social {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

.link {
	display: inline-block;
	transform-origin: center;
	transform: translateY(100px) rotate(-180deg);
}

a:link,
a:active,
a:visited {
	position: relative;
	text-decoration: none;
	font-size: 11pt;
	padding: 0 5px;
	transition: color 0.2s ease-out;
}

a:nth-child(1) {
	color: #ff6361;
}
a:nth-child(2) {
	color: #fed406;
}
a:nth-child(3) {
	color: #69cefa;
}

a:nth-child(1):hover {
	color: #fda006;
}
a:nth-child(2):hover {
	color: #45d264;
}
a:nth-child(3):hover {
	color: #107eff;
}

@media only screen and (max-width: 1200px) {
	.char {
		height: 30px;
		padding: 0 0;
	}
	.char-tall {
		height: 42px;
	}
}
